.subscriberealBtn{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color .5s,
              color .5s;
}
.subscriberealBtn:hover{
  opacity: .9;
}
.isSubrDone{
  background-color: rgb(190, 190, 190);
  color: black;
}
body{
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-weight: 900;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 8px;
}
input{
  margin-left: 10px;
}
.paymentMethod{
  margin-top: 5px;
  margin-left: 10px;
}
.submit{
  font-size: 20px;
  margin-top: 30px;
  margin-left: 100px;
  background-color: aqua;
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid rgb(99, 98, 98);
}