body{
  font-family: Arial, Helvetica, sans-serif;
}
.containerOfcontainers{
  margin-left: 35%;
}
.container{
  display: inline-block;
  border: 1px solid rgba(1, 1, 1, .35);
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(20, 20, 35, .85);
  height: 280px;
  width: 185px;
}

button{
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px 2px;
  height: 35px;
  width: 35px;
  background-color: rgba(220, 240, 255, .9);
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .1s;
}
button:hover{
  background-color: rgba(200, 210, 225, .9);
}
button:active{
  background-color: rgba(220, 240, 255, .5);
}
.buttoncontainer{
  margin: 18px 7px 5px 5px;
}
.innercontainer{
  margin-left: 3px;
}