body{
    margin: 0px;
    padding-top: 60px;
}
.header{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: 1px solid rgba(0, 0, 0, .08);

    z-index: 100;


}

.left-section{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0px;
}

.three-line-menu{
    contain: content;
    height: 30px;
    width: 30px;
}

.three-line-menu-button,
.youtube-logo-button
{
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.three-line-menu-button:hover{
    opacity: .9;
}

.three-line-menu-button:active{
    opacity: .8;
}

.youtube{
    contain: content;
    height: 30px;
}



.youtube-logo-button:hover{
    opacity: .9;
}

.youtube-logo-button:active{
    opacity: .7;
}

.middle-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    margin-left: 45px;
    max-width: 500px;
    border: none;
    border-radius: 5px;
    height: 65%;
}



.search-button{
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(179, 179, 179, 0.438);
    width: 65px;
    height: 102%;
    cursor: pointer;
    margin-left: -1px;
}

.search-button:hover{
    opacity: .9;
}
.search-button:active{
    opacity: .7;
}

.search-button,
.search-by-voice-button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.search-by-voice-button .tooltip,
.add-video-button .tooltip,
.nine-dot-menu-button .tooltip,
.bell-button .tooltip,
.three-line-menu-button .tooltip
{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15s;

    pointer-events: none;

    white-space: nowrap;
}

.search-button:hover .tooltip,
.search-by-voice-button:hover .tooltip,
.add-video-button:hover .tooltip,
.nine-dot-menu-button:hover .tooltip,
.bell-button:hover .tooltip,
.three-line-menu-button:hover .tooltip
{
    opacity: 1;
}






.search-bar{
    padding-left: 10px;
    height: 93%;
    min-width: 0px;
    flex: 1;
    margin: 0px;
    border-radius: 0px;
    border: 1px solid rgba(179, 179, 179, 0.438);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .06);
    width: 0;
}

.search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

.search-icon{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.search-by-voice{
    height: 50%;
    width: 60%;
    border: none;
    border-radius: 70%;
}

.search-by-voice-button{
    background-color: rgb(250, 250, 250);
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 9px;
}

.search-by-voice-button:hover{
    opacity: .9;
}

.search-by-voice-button:active{
    opacity: .7;
}

.right-section{
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.add-video,
.nine-dot-menu
{
    height: 100%;
    width: 100%;
}

.nine-dot-menu-button,
.add-video-button
{
    width: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}




.notification-in-bell-button{
    position: absolute;
    background-color: red;
    color: white;
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 50%;
    bottom: 0px;
    right: 0px;
}

.bell{
    height: 100%;
    width: 100%;
}

.bell-button{
    position: relative;
    padding: 0px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 25px;
    margin-left: 4px;
}

.main-profile{
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 13px;
}