.all{
 width: 511px;
 box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);
 border-radius: 4px;
 display: flex;
 flex-direction: column;
 font-family: Arial, Helvetica, sans-serif;
 text-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
 padding-bottom: 8px;
 margin: 10px;
 margin-top: 17px;
}

.all-inbox{
 color: rgba(0, 0, 0, .5);
 font-size: 15px;
 font-weight: 400;
 margin-top: 10px;
 margin-left: 15px;
 margin-bottom: 5px;
 cursor: wait;
}

.titels-profile-etc{
 margin-left: 15px;
 display: flex;
 flex-direction: row;
 align-items: center;
}

.titels-profile-etc:active{
 opacity: .7;
}

.profile{
 height: 56px;
 width: 56px;
 border: none;
 border-radius: 28px;
 margin-right: 10px;
 object-fit: cover;
 cursor: pointer;
}

.title-and-etc{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 width: 100%;
 cursor: pointer;
}

.titel-and-time{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-bottom: 0px;
 width: 100%;
}

.title{
 font-weight: bolder;
 font-size: 19px;
 margin-bottom: 0px;
 line-height: 25px;
}

.name{
 margin: 0px;
}

.main-title{
 margin: 0px;
}
.time{
 color: rgba(0, 0, 0, .5);
 margin-right: 20px;
 margin-top: 7px;
}

.massage{
 margin-top: 3px;
 font-size: 19px;
 color: rgba(0, 0, 0, 0.5);
}