button{
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    padding: 18px;
    border: none;
}
button:hover{
    opacity: .9;
}
button:active{
    opacity: .8;
}
.extra{
    margin-top: 28px;
    display: block;
    text-align: center;
}
.g1{
    height: 130px;
}
.g2{
    display: block;
    text-align: center;
}
.s2{
    display: block;
    text-align: center;
}
.Search{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 25px;
    box-shadow: 4px 3px 11px rgba(0, 0, 0, .15);
}
.Search:active{
    border: none;
    align-content: center;
}
