body{
 padding-top: 100px;
 padding-left: 80px;
 padding-bottom: 1000px;
}
.head{
 background-color: black;
 color: white;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 height: 100px;
 width: 100%;
}

.left-section{
 background-color: cadetblue;
 color: white;
 position: fixed;
 display: flex;
 align-items: center;
 left: 0;
 top: 100px;
 bottom: 0;
 width: 78px;
 height: 100%;
}

div{
 display: flex;
 flex-direction: row;
 align-items: center;
 height: 150px;
 width: 150px;
}

.all-div{
 height: 100%;
 width: 100%;
}

.div1{
 background-color: aqua;
}

.div2{
 background-color: blueviolet;
}
.div3{
 background-color: bisque;
}
