.all{
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    height: 100px;
}



.div-1{
    width: 100px;
    background-color: antiquewhite;
}

.div-2{
    width: 100px;
    background-color: aquamarine;
}

.div-3{
    width: 100px;
    background-color: azure;
}
