body{
    padding-bottom: 10000px;
}
.all{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;

}

.thumnail-and-etc{
    position: relative;
    width: 1fr;
}
.thumnail-div{
    width: 100%;
    cursor: pointer;
    position: relative;
}

.video-duration{
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px;
    right: 15px;
    top: 35%;
}

.profile-and-etc{
    display: grid;
    grid-template-columns: 55px 1fr;
}






.profile{
    cursor: pointer;
    margin: 15px;
    margin-left: px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
}

.profile-div{
    margin: 9px;
    display: grid;
    height: 70px;
    width: 70px;
}

