body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgba(240, 250, 245, .8);
}
.all{vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 350px;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, .25) 1px 1px 15px;
}
.title{
  display: block;
  align-items: center;
  width: 200px;
  font-size: 30px;
  color: rgba(0, 0, 255, 0.603);
  margin-top: 15px;
  margin-bottom: 5px;
}
#myInput{
  text-align: center;
  font-size: 20px;
  padding-left: 7px;
  height: 30px;
  width: 200px;
  margin: 15px 0px;
}
.temp{
  padding: 3px 0px;
  margin: 0px;
}
.submit{
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 9px;
  margin: 5px 7px;
  white-space: nowrap;
  font-size: 20px;
  cursor: pointer;
}