body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.container{
  text-align: center;
  margin: auto;
}
.inputs{
  margin: 0px;
  margin-top: 35px;
}
input{
  margin-bottom: 10px;
}
#typeLenght{
  width: 50px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .35);
  padding: 4px 10px;
}
#genarate{
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 15px;
  background-color: rgb(77, 77, 252);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .15s;
}
#genarate:hover{
  background-color: rgb(49, 49, 255);
}
#genarate:active{
  background-color: rgb(0, 0, 190);
}